# EDA_Cost_of_Living

Data understanding, cleaning, transformation, and statistical exploration

## Problem Statement

- Study how the cost of living differs across cities and countries.
- Examine the contribution of rent, groceries, and restaurant prices to overall living costs.
- Analyze the relationship between rent index and cost of living index.
- Observe country-wise and year-wise changes in cost of living over time.

In [5]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv("numbeo_cost_of_living_all_years.csv")
df

,Rank,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Year
0,1,"Zurich, Switzerland",112.5,68.1,93.2,113.9,110.4,167.3,2025
1,2,"Geneva, Switzerland",111.4,63.7,90.6,113.8,113.4,171.0,2025
2,3,"Basel, Switzerland",110.7,49.1,83.9,116.2,108.4,194.8,2025
3,4,"Lausanne, Switzerland",110.5,48.3,83.4,110.7,111.3,180.4,2025
4,5,"Lugano, Switzerland",108.4,41.2,79.1,111.0,111.4,159.7,2025
...,...,...,...,...,...,...,...,...,...
4960,536,"Bucaramanga, Colombia",19.6,4.6,12.4,16.1,13.6,31.3,2023
4961,537,"Rawalpindi, Pakistan",16.4,2.9,9.9,14.7,12.5,27.9,2023
4962,538,"Faisalabad, Pakistan",16.1,2.8,9.7,12.0,10.5,32.5,2023
4963,539,"Multan, Pakistan",15.6,2.5,9.3,15.1,11.0,21.9,2023
4964,540,"Peshawar, Pakistan",15.1,1.6,8.6,13.0,11.0,27.6,2023

In [9]:
df.shape

(4965, 9)

In [11]:
rows, columns = df.shape
print("Number of Rows:", rows)
print("Number of Columns:", columns)

Number of Rows: 4965
Number of Columns: 9

In [13]:
df.columns

Index(['Rank', 'City', 'Cost of Living Index', 'Rent Index',
       'Cost of Living Plus Rent Index', 'Groceries Index',
       'Restaurant Price Index', 'Local Purchasing Power Index', 'Year'],
      dtype='object')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4965 entries, 0 to 4964
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Rank                            4965 non-null   int64
 1   City                            4965 non-null   object
 2   Cost of Living Index            4965 non-null   float64
 3   Rent Index                      4965 non-null   float64
 4   Cost of Living Plus Rent Index  4965 non-null   float64
 5   Groceries Index                 4965 non-null   float64
 6   Restaurant Price Index          4965 non-null   float64
 7   Local Purchasing Power Index    4965 non-null   float64
 8   Year                            4965 non-null   int64
dtypes: float64(6), int64(2), object(1)
memory usage: 349.2+ KB

In [17]:
df.describe()

,Rank,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Year
count,4965.000000,4965.000000,4965.000000,4965.000000,4965.000000,4965.000000,4965.000000,4965.000000
mean,252.593353,58.657019,25.559114,42.881692,54.414824,54.168419,80.706062,2019.632628
std,149.901286,21.878360,17.213944,18.625515,22.488468,25.730594,38.249465,2.958616
min,1.000000,15.100000,1.600000,8.600000,12.000000,10.500000,1.500000,2015.000000
25%,125.000000,39.500000,12.000000,26.700000,35.200000,31.100000,48.000000,2017.000000
50%,249.000000,61.400000,22.700000,44.000000,53.100000,56.800000,79.600000,2020.000000
75%,373.000000,73.800000,34.300000,54.900000,69.600000,72.500000,110.000000,2022.000000
max,598.000000,163.600000,133.900000,142.300000,191.700000,165.500000,249.600000,2025.000000

## Data Cleaning & Preprocessing

#### 1. Standardization of Column Names

In [21]:
df.columns = (df.columns.str.strip().str.lower().str.replace(" ", "_"))

In [23]:
df.head()

,rank,city,cost_of_living_index,rent_index,cost_of_living_plus_rent_index,groceries_index,restaurant_price_index,local_purchasing_power_index,year
0,1,"Zurich, Switzerland",112.5,68.1,93.2,113.9,110.4,167.3,2025
1,2,"Geneva, Switzerland",111.4,63.7,90.6,113.8,113.4,171.0,2025
2,3,"Basel, Switzerland",110.7,49.1,83.9,116.2,108.4,194.8,2025
3,4,"Lausanne, Switzerland",110.5,48.3,83.4,110.7,111.3,180.4,2025
4,5,"Lugano, Switzerland",108.4,41.2,79.1,111.0,111.4,159.7,2025

- Column names were converted to lowercase and underscores for consistency.
- This improved readability and ease of analysis.

#### 2. Splitting City and Country

In [26]:
split_data = df['city'].str.split(',', n=1, expand=True)

df['city'] = split_data[0].str.strip()
df['country'] = split_data[1].str.strip()

In [28]:
df.sample(5)

,rank,city,cost_of_living_index,rent_index,cost_of_living_plus_rent_index,groceries_index,restaurant_price_index,local_purchasing_power_index,year,country
3884,38,Paris,84.4,48.8,67.7,83.6,81.6,80.2,2022,France
3024,216,Patras,54.3,8.7,32.5,38.5,45.5,43.2,2020,Greece
1041,182,Edmonton,70.8,28.5,50.5,70.6,65.6,128.6,2016,Canada
3811,563,Kabul,27.5,4.3,16.4,19.0,20.2,26.5,2021,Afghanistan
3923,77,Charleston,77.3,48.6,63.8,77.1,78.7,121.3,2022,"SC, United States"

- City and country information were successfully separated into individual columns.
- This enabled country-level grouping and comparison.

#### 3. Removal of Special Characters

In [31]:
df['city'] = df['city'].str.replace(r'[^a-zA-Z\s]', '', regex=True)
df['country'] = df['country'].str.replace(r'[^a-zA-Z\s]', '', regex=True)

In [35]:
df.sample(5)

,rank,city,cost_of_living_index,rent_index,cost_of_living_plus_rent_index,groceries_index,restaurant_price_index,local_purchasing_power_index,year,country
1678,324,Florianopolis,51.0,14.8,33.6,40.1,41.5,41.2,2017,Brazil
813,410,Dnipro,38.2,11.8,25.3,33.5,32.5,34.8,2015,Ukraine
984,125,Hartford,75.8,37.6,57.4,80.4,71.4,172.8,2016,CT United States
568,165,Mississauga,79.7,37.0,58.8,75.6,74.0,110.3,2015,Canada
1773,419,Quezon City,35.3,7.2,21.9,32.2,19.6,41.0,2017,Philippines

- Special characters were removed from city and country names.
- This ensured uniform text formatting and avoided grouping inconsistencies.

#### 4. Data Type Inspection and Validation

In [38]:
df.dtypes

rank                                int64
city                               object
cost_of_living_index              float64
rent_index                        float64
cost_of_living_plus_rent_index    float64
groceries_index                   float64
restaurant_price_index            float64
local_purchasing_power_index      float64
year                                int64
country                            object
dtype: object

- Numerical columns are correctly stored as integers or floats.
- City and country columns are stored as object types, appropriate for categorical analysis.

#### 5.Identification of Incorrect Rank Values

In [41]:
df['rank'].value_counts().head(10)

rank
404    10
403    10
402    10
401    10
32     10
31     10
30     10
29     10
28     10
27     10
Name: count, dtype: int64

In [43]:
df['rank'].max()

598

In [45]:
df['rank'].is_monotonic_increasing

False

- The original rank column contained repeated and non-sequential values.

#### 6.Treatment of Rank Column and Creation of Global Ranking

In [48]:
df.drop(columns=['rank'], inplace=True)

In [50]:
df.columns

Index(['city', 'cost_of_living_index', 'rent_index',
       'cost_of_living_plus_rent_index', 'groceries_index',
       'restaurant_price_index', 'local_purchasing_power_index', 'year',
       'country'],
      dtype='object')

- The rank column was dropped to avoid misleading interpretations.

In [52]:
df = df.sort_values(
    by=['year', 'cost_of_living_index'],
    ascending=[False, False])

In [54]:
df['global_rank'] = (
    df.groupby('year')['cost_of_living_index']
      .rank(method='dense', ascending=False)
      .astype(int))

In [58]:
df.head(5)

,city,cost_of_living_index,rent_index,cost_of_living_plus_rent_index,groceries_index,restaurant_price_index,local_purchasing_power_index,year,country,global_rank
0,Zurich,112.5,68.1,93.2,113.9,110.4,167.3,2025,Switzerland,1
1,Geneva,111.4,63.7,90.6,113.8,113.4,171.0,2025,Switzerland,2
2,Basel,110.7,49.1,83.9,116.2,108.4,194.8,2025,Switzerland,3
3,Lausanne,110.5,48.3,83.4,110.7,111.3,180.4,2025,Switzerland,4
4,Lugano,108.4,41.2,79.1,111.0,111.4,159.7,2025,Switzerland,5

- A new global rank was generated based on cost of living index for each year.
- This provided a consistent and comparable ranking of cities over time.

#### 7. Identification of Missing Values

In [61]:
df.isnull().sum()

city                              0
cost_of_living_index              0
rent_index                        0
cost_of_living_plus_rent_index    0
groceries_index                   0
restaurant_price_index            0
local_purchasing_power_index      0
year                              0
country                           0
global_rank                       0
dtype: int64

- No missing values were found in any column.
- The dataset is complete and does not require imputation.

#### 8.Identification of Duplicate Records

In [71]:
df.duplicated().sum()

np.int64(0)

- No duplicate records were found in the dataset.
- Each row represents a unique city-year observation.

#### 9.Identification of Outliers (IQR Method)

In [68]:
numeric_columns = df.select_dtypes(include=['int64', 'float64']).columns

outliers = {}

for col in numeric_columns:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1

    outliers[col] = ((df[col] < (Q1 - 1.5 * IQR)) |
                     (df[col] > (Q3 + 1.5 * IQR))).sum()
outliers

{'cost_of_living_index': np.int64(37),
 'rent_index': np.int64(151),
 'cost_of_living_plus_rent_index': np.int64(40),
 'groceries_index': np.int64(48),
 'restaurant_price_index': np.int64(16),
 'local_purchasing_power_index': np.int64(4),
 'year': np.int64(0),
 'global_rank': np.int64(0)}

- Outliers were identified in cost-related indices using the IQR method.
- These outliers represent real economic extremes and were retained.

#### 10. Data Aggregation & Tables

##### 1. Sorting the Data

In [77]:
df_sorted = df.sort_values(by='cost_of_living_index', ascending=False)
df_sorted.head()

,city,cost_of_living_index,rent_index,cost_of_living_plus_rent_index,groceries_index,restaurant_price_index,local_purchasing_power_index,year,country,global_rank
404,Hamilton,163.6,120.0,142.3,191.7,132.9,69.8,2015,Bermuda,1
3847,Hamilton,149.0,96.1,124.2,157.9,155.2,79.4,2022,Bermuda,1
3249,Hamilton,146.3,89.1,119.0,153.3,145.4,91.2,2021,Bermuda,1
1838,Hamilton,145.4,110.9,128.8,143.5,158.8,112.3,2018,Bermuda,1
405,Geneva,145.2,81.5,114.0,161.1,141.2,130.2,2015,Switzerland,2

##### 2. Grouping by Country

In [80]:
country_avg = df.groupby('country')['cost_of_living_index'].mean().sort_values(ascending=False)
country_avg

country
Bermuda                      145.785714
Switzerland                  123.782258
Angola                       116.500000
Cayman Islands               107.200000
Papua New Guinea             105.900000
                                ...
Kosovo Disputed Territory     29.288889
Kyrgyzstan                    28.983333
Egypt                         28.190000
India                         25.279470
Pakistan                      23.647619
Name: cost_of_living_index, Length: 190, dtype: float64

- Significant differences in average cost of living were observed across countries.
- Countries like Bermuda and Switzerland showed consistently higher averages.

##### 3. Grouping by Year

In [83]:
year_avg = df.groupby('year')['cost_of_living_index'].mean()
year_avg

year
2015    68.256579
2016    59.852525
2017    62.231056
2018    63.604089
2019    55.067206
2020    54.821364
2021    58.437458
2022    57.541522
2023    54.365370
2025    51.178465
Name: cost_of_living_index, dtype: float64

- The average cost of living index shows variation across years.
- A general decline is observed after 2018, with fluctuations in later years.

##### 4. Pivot Table (Country vs Year)

In [86]:
pivot_table = pd.pivot_table(
    df,
    values='cost_of_living_index',
    index='country',
    columns='year',
    aggfunc='mean')
pivot_table.head()

year,2015,2016,2017,2018,2019,2020,2021,2022,2023,2025
country,,,,,,,,,,
AB Canada,95.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AK United States,99.80,93.90,98.70,95.000000,NaN,91.40,92.20,91.2,88.00,NaN
AL United States,81.30,70.80,69.50,67.733333,NaN,NaN,71.00,78.8,75.00,NaN
AR United States,NaN,NaN,74.65,73.100000,60.70,59.80,62.90,59.3,NaN,NaN
AZ United States,73.95,67.35,66.50,64.950000,66.95,69.75,66.95,65.8,71.15,63.85

#### 5. Crosstab Analysis (Categorical vs Discrete Time Variable)

In [89]:
pd.crosstab(df['country'], df['year']).head()

year              2015  2016  2017  2018  2019  2020  2021  2022  2023  2025
country
AB Canada            1     0     0     0     0     0     0     0     0     0
AK United States     1     1     1     1     0     1     1     1     1     0
AL United States     1     1     3     3     0     0     3     1     1     0
AR United States     0     0     2     2     1     1     1     1     0     0
AZ United States     2     2     2     2     2     2     2     3     2     2

- Country and year pivot tables highlight uneven data distribution across time.
- Some countries appear only in specific years, indicating partial coverage.

In [91]:
df.to_csv("cleaned_cost_of_living.csv", index=False)